USE [master]
GO
/****** Object:  Database [Namebase]    Script Date: 10.12.2024 15:54:43 ******/
CREATE DATABASE [Namebase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Namebase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Namebase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Namebase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Namebase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Namebase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Namebase]
GO
/****** Object:  Table [dbo].[Analytics]    Script Date: 10.12.2024 15:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analytics](
	[Id_analytics] [int] NOT NULL,
	[Id_user] [int] NOT NULL,
	[Id_habit] [int] NOT NULL,
	[Total_days] [int] NOT NULL,
	[Success_rate] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habit_Records]    Script Date: 10.12.2024 15:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habit_Records](
	[Id_habit_record] [int] NOT NULL,
	[Id_habit] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Notes] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habits]    Script Date: 10.12.2024 15:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habits](
	[Id_habit] [int] NOT NULL,
	[Id_user] [int] NOT NULL,
	[Name_habit] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[Created_at] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 10.12.2024 15:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[Id_reminder] [int] NOT NULL,
	[Id_user] [int] NOT NULL,
	[Id_habit] [int] NOT NULL,
	[Reminder_time] [time](7) NOT NULL,
	[Status] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.12.2024 15:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_user] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Login] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
